.main {

}

.navPanel a {
    text-decoration: none;
    color:cornsilk;
}

.navPanel{
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: chocolate;
    height: 40px;
    align-items: center;
}

.navPanel :hover {
    color:brown
}

.footer {
    align-items: flex-end;
    font-size: 10px;
    background-color: teal;
    width: 100%;
    text-align: center;
    margin-top: 1vh;
}

.header {
    display:flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(252, 225, 206);
    color: rgb(51, 46, 97);
}

.mainContent {
    background-image: url(/img/inter.jpeg);
    background-size: cover;
    height: 100%;
    width: 100%;
}

.hizhina {
    font-size: 34px;
    font-weight: bold;
}